<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>登录</h2>
    <form action="/signin" method="post">
        <p>
            <label>用户名：</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>密&nbsp;&nbsp;&nbsp;码：</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="登录">
        </p>
    </form>
</body>
</html>